.top {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1em;
  background-color: rgb(34, 34, 34);
}
.navbar {
  display: flex;
  margin-top: 0.5em;
}
.title {
  font-family: highgate, sans-serif;
  color: lightgrey;
}
.content {
  display: flex;
  margin: 2.5em;
  justify-content: space-evenly;
}
.Om-mig {
  display: flex;
  flex-direction: column;
  width: 75%;
  justify-content: center;
}
.smilla {
  width: 14em;
  border: 4px solid black;
  object-fit: contain;
}
.stor-bild {
  display: none;
}
.bilder {
  display: flex;
}
p {
  font-family: highgate, sans-serif;
  line-height: 1.6;
}
.nav-content {
  font-family: highgate, sans-serif;
  color: lightgrey;
}

.hyperlink {
  font-family: highgate, sans-serif;
  color: lightgrey;
  display: flex;
}
.rubrik2 {
  margin: auto;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}
.rubrik2 p {
  margin-bottom: 10px;
}

/*Image slider*/
.slide img {
  width: 50%;
  object-fit: cover;
  position: absolute;
  margin-left: 25%;
  margin-bottom: 50px;
  display: none;
  border: 5px solid black;
}
#image1 {
  display: block;
}
.slide {
  height: 450px;
  margin-top: 1em;
}

@media screen and (max-width: 1155px) {
  .content {
    flex-direction: column;
  }
  .bilder {
    justify-content: center;
  }
  .Om-mig {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 15px;
  }
  .rubrik {
    margin-top: 1em;
    font-size: 3em;
  }
  p {
    font-size: 1.2em;
  }
  .smilla {
    display: none;
  }
  .stor-bild {
    display: block;
    width: 18em;
    height: auto;
    border: 4px solid black;
    object-fit: contain;
  }
}

@media screen and (max-width: 600px) {
  .slide img {
    width: 70%;
    margin-left: 15%;
  }
}
