html {
  scroll-behavior: smooth;
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2em;
  max-width: 90%;
  margin: auto;
}
.rubrik {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  margin-top: 1.3em;
}
.text {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
ol {
  margin: 0;
  padding: 1em;
}
li video,
img {
  vertical-align: top;
  border: 3px solid darkslategray;
}
li {
  font-size: 1.3em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 0.5em;
}
li img {
  width: 40%;
}
@media screen and (max-width: 550px) {
  .rubrik {
    font-size: 1.5em;
  }
  .projects {
    max-width: 75%;
  }
  ol li video {
    width: 250px;
    height: 145px;
  }
}
@media screen and (max-width: 300px) {
  ol li video {
    width: 200px;
    height: 115px;
  }
  ol {
    padding: 0;
  }
}
