.top {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1em;
  background-color: rgb(34, 34, 34);
}
.title {
  font-family: highgate, sans-serif;
  color: lightgrey;
}
.navbar {
  display: flex;
  margin-top: 0.8em;
  justify-content: center;
}
.hyperlink {
  font-family: highgate, sans-serif;
  color: lightgrey;
  padding-left: 0.5em;
}
.drop-down {
  display: none;
}
@media screen and (max-width: 600px) {
  .navbar {
    display: none;
  }
  .title {
    margin: auto;
  }
  .drop-down {
    display: block;
    position: absolute;
    width: 3em;
    margin-left: 80%;
    margin-bottom: 10px;
  }
  .drop-down img {
    width: inherit;
  }
  .top {
    display: flex;
    flex-direction: row;
  }
}
